@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}

.index {
    box-sizing: border-box; 
    font-family: 'Noto Sans', sans-serif;
}
legend{
    border: 1px solid #00ff88;
    display: flex;
    padding: 3%;
    margin-left:20% ;
    text-align: center;
    background: #201B2C;
    border-radius: 8px;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #201B2C;    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 2vw;
    color: #77ffc7;
}

.h1-img{
    width: 25vw;
}

.Right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color : #00ff88;
    font-weight: 800;
    margin: 0;
} 

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background : #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
        color: #f0ffffde;
        margin-bottom: 10px;
}

.textfield > input::placeholder{
        color: #f0ffff94;
}

.btn-login{
        width: 100%;
        padding: 16px 0px;
        margin: 25px;
        border: none;
        border-radius: 8px;
        outline: none;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 3px;
        color: #2b134b;
        background: #00ff88;
        cursor: pointer;
        box-shadow: 0px 10px 40px -12px #00ff8052; 
}
.cadastro{
    color: white;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.rodape {
    background: #201B2C;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;

}
.img {
    height: 20px;
    width: 20px;
}
.link {
    text-decoration: none;
    font-weight: 600;
    color: #00ff88;
    font-family: Arial, Helvetica, sans-serif;
}


@media only screen and (max-width: 900px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }

    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .left-login >.h1-img{
        width: 50vw;
    }

    .card-login{ 
    width: 90%;
}
}
.color{
    background: #201B2C;
}
/* Box styles */
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #14111b;
    padding: 30px;
    border-radius: 25px;
    width: 30%;
    color: white;
    max-width: 450px;
    
}
.form{
    
    align-items: center;
}
fieldset{
    border: 2px solid #00ff88;
}
/* Input box styles */
.inputbox {
    position: relative;
}

/* Input user styles */
.inputuser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

/* Label styles */
.label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: .5s;
}

/* Label animation on focus or valid input */
.inputuser:focus ~ .label,
.inputuser:valid ~ .label {
    top: -20px;
    font-size: 12px;
    color: #00ff88;
}

/* Additional input styles (e.g., data_nascimento) */
#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    background-color: #1717188c;
    font-size: 15px;
    color: white;
}

.botao{
    border-radius: 10px;
    outline: none;
    padding: 10px;
    margin: 10px 10px 10px 30%;
}
.botao-cancelar{
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 0px 0px;
    margin: 10px;
}